REACT_APP_CLIENT_ID= "860840181464694785" //Discord Oauth Application Client ID
REACT_APP_CLIENT_SECRET= "31pRaNuex3ZE9YB9wzbDGNvLnUmG8-Eu" //Discord Oauth Application Secret
REACT_APP_WEBHOOK_URL= "" //The webhook you made for #ban-appeals
REACT_APP_DISCORD_BOT_TOKEN= "ODYwODQwMTgxNDY0Njk0Nzg1.YOBF5A.AtHKjLgTbXvGTNEV6Vtwn3eufds" //Used to check if users are banned and unban them if you click the embed link to do so
REACT_APP_GUILD_ID= //Brands the page with your server name and icon
REACT_APP_JWT_SECRET= "HELLO132156132165132165" //What the tokens for unbanning users are hashed with. Basically a really long password
REACT_APP_SKIP_BAN_CHECK= "true" //Optional, skips the check that only allows submissions from users who are actually banned if set to true
